body {
    background-color: black;

}

.main {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    background-color: black;
}

form {
    /* color: black; */
    height: 100%;
}

.playerSelectionCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
    height: 20%;
    width: 40%;
    margin: 40px;
    padding: 20px;
    font-size: large;
    color: blue;
}

.roundSelection {
    margin: 30px;
    padding: 20px;
    color: blue;
}

.loadGameButton {
    /* background-color: #04AA6D; */
    /* Green */
    border: none;
    color: red;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;


}

h1 {
    color: blue;
}

.loadGameButton:hover {
    border-radius: 20px;
    border: solid red;
    cursor: pointer;
    padding: 10px;
}