body {
    background-color: beige;
}

.main {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 1 2 1;
}

.player1 {
    display: inline-flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 50%;

}

.board {
    /* display: flex;
    flex-direction: row; */
    width: 190%;

}

.boardGrandChild {
    border: solid black;
    height: 40%;
    width: 40%;
    border-radius: 50px;
    background-color: yellow;
}

.boardChild {
    border: solid blue;
    height: 60%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    background-color: red;
}

.popUp {
    height: 100px;
    width: 200px;
    position: absolute;
    background-color: lightcoral;
    left: 42%;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    color: rebeccapurple;
    border: solid black;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}

.boardParent {
    border: solid red;
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    background-color: lightblue;
}

button {
    padding: 20px;
}

.player2 {
    display: inline-flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 50%;

}

h3 {
    color: red;
}

.middle {
    display: flex;
    flex-wrap: nowrap;
    width: 30%;
    flex-direction: column;
    text-align: center;

}

img {
    height: 40px;
    width: 40px;
    mix-blend-mode: multiply;
    color: black;
    font-weight: bolder;
    transition: transform 1s ease-in;
    transform: rotateX('90');
}

#roundUpButt {
    margin-top: 98px;
}

#rePlay {
    padding: 5px;
}

.disp {
    padding-bottom: 15px;
}

.num {
    position: absolute;
    top: 40px;
    left: 235px;
}

.num1 {
    position: absolute;
    top: 120px;
    left: 230px;
}

.num2 {
    position: relative;
    top: 40px;
    left: 45px;
}

.numO {
    position: absolute;
    top: 40px;
    left: 1010px;
}

.numO1 {
    position: absolute;
    top: 120px;
    left: 1005px;
}

.numO2 {
    position: relative;
    top: 40px;
    left: 45px;
}